apiVersion: v1
kind: Secret
metadata:
  name: checkins-secret
  namespace: apps
type: Opaque
stringData:
  # 실제 적용할 때는 이 파일을 checkins-secret.input.yaml 로 복사해 사용한다.
  database-url: mysql://<id>:<password>@<RDS_ENDPOINT>:3306/<DB이름>
